<app-navbar></app-navbar>
<div class="container-fluid">
    <div align="center">
      <h1>Contact Me</h1>
     <form> 
          <div class="col-md-7">
            <div class="form-group">
              <label for="">Your Name</label>
              <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
            </div>
          </div> 
            <div class="col-md-7">
              <div class="form-group">
                <label for="">Your Email</label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
              </div>
            </div>
            <div class="col-md-7">
              <div class="form-group">
                    <label for="exampleFormControlTextarea1">Your Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-success"> Submit</button>
            </div>
      </form>
      </div>
</div>