
<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="#">Wellcome To App</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contactme">Contact Me</a>
            </li>            
        </ul>
    </div>
</nav>


<!-- <nav class="navbar navbar-expand-sm navbar-light bg-success">
    <span class="navbar-text">Wellcome TO App! </span>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-0 mt-lg-0">
            <li class="nav-item active">
                <a class="navbar-brand" href="/">Home</a>
            </li>
            <li routerLinkActive="active current">
                    <a class="nav-link" routerLink="/contactme">Contact Me <span class="sr-only">(current)</span></a>
                  </li>
        </ul>
    </div>
</nav> -->



