

<app-navbar></app-navbar>
<div class="container" style="margin-top: 10px">
    <h1 align="center">Welcome TO APP</h1>
        <div align="center" >
            <a href="#"></a>
             <img  src="assets/firman.jpg" width="200">
            <form> 
                <div  class="col-md-8">
                    <div class="form-group">
                        <label for="">Username :</label>
                        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="">Password : </label>
                        <input type="password" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>
                </div>
                <div class="col-md-5">
                <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
            </div>       
            </form>      
    </div>    
</div>




